@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

* {
  margin: 0 auto;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'East Sea Dokdo', cursive;
  color: #eee;
  background-image: linear-gradient(to right, #1c8f87, #00ff6a);
  /* background-color: #60b347; */
}

/* LAYOUT */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  justify-self: center;
  height: 20vh;
  /* border-bottom: 7px solid #eee; */
}

main {
  /* height: 65vh; */
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.score_container {
  position: absolute;
  top: 0;
  left: 3rem;
  font-size: 6rem;
}

/* ELEMENTS STYLE */
h1 {
  font-size: 10rem;
  text-align: center;
  color: #666;
}

.text {
  color: #ddd;
}

.range-info {
  font-size: 4rem;
}

.label-number {
  background: #ddd;
  color: #761e1e;
  border: 1rem solid #666;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
}

.reset {
  top: 2rem;
  left: 2rem;
}

.input-number {
  outline: none;
  background: none;
  border-radius: 0.4;
  border: 4px solid #ddd;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
  transition: 0.3s;
}

.input-number:focus {
  border: 4px solid #761e1e;
  color: #eee;
  opacity: 0.8;
}

.info-text {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  height: 3rem;
}

.btn-container {
  display: flex;
  gap: 3rem;
}

.btn {
  display: inline;
  width: 20rem;
  border: none;
  background-color: #ccc;
  color: #222;
  font-size: 4rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #761e1e;
  color: #eee;
  opacity: 0.8;
}

.guess {
}

.value-score {
}
